<div class="container-fluid content-wrapper">
  <hr>

  <div class="brands overflow-hidden">
    <div>
      <div class="row align-items-center">
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand1.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand2.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand3.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand4.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand5.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand6.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand7.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand8.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand9.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand10.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand11.png" alt="">
        </a>
        <a routerLink="./" class="col-3 col-md-2 col-lg-1">
          <img src="assets/img/brands/brand12.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="terms">
    <div class="my-3">
      <div class="row row-cols-2 row-cols-md-4 align-items-start">
        <div class="col d-flex flex-column">
          <div class="my-2">
            <b>MOI Việt Nam</b>
          </div>
          <a routerLink="./">Giới thiệu MOI</a>
          <a routerLink="./">Tiện ích online</a>
          <a routerLink="./">Liên hệ quảng cáo</a>
          <a routerLink="./">Quan hệ doanh nghiệp</a>
        </div>
        <div class="col d-flex flex-column">
          <div class="my-2">
            <b>Điều khoản sử dụng</b>
          </div>
          <a routerLink="./">Điều khoản chung</a>
          <a routerLink="./">Điều khoản giao dịch</a>
          <a routerLink="./">Chính sách bảo mật</a>
          <a routerLink="./">Chính sách thanh toán</a>
        </div>
        <div class="col d-flex flex-column">
          <div class="my-2">
            <b>Hỗ trợ khách hàng</b>
          </div>
          <a routerLink="./">Hotline: 1800 1001</a>
          <a routerLink="./">Email: cskh&#64;moi.vn</a>
          <a routerLink="./">Câu hỏi thường gặp</a>
          <a routerLink="./">Giờ làm việc: 8:00 - 22:00</a>
        </div>
        <div class="col">
          <div class="my-2">
            <b>Mạng xã hội</b>
          </div>
          <div class="d-flex gap-2">
            <a href="https://www.facebook.com" style="height: 2em;">
              <img src="assets/img/socials/social1.png" alt="">
            </a>
            <a href="https://www.youtube.com" style="height: 2em;">
              <img src="assets/img/socials/social2.png" alt="">
            </a>
            <a href="https://www.instagram.com/" style="height: 2em;">
              <img src="assets/img/socials/social3.png" alt="">
            </a>
            <a href="https://zalo.me/" style="height: 2em;">
              <img src="assets/img/socials/social4.png" alt="">
            </a>
          </div>
          <a routerLink="./">
            <img src="assets/img/socials/cong-thuong.png" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <div class="infos">
    <div>
      <div class="row align-items-center">
        <div class="col-2 pe-0">
          <img class="w-100" src="assets/img/logo-dark.png" alt="">
        </div>
        <div class="col-10">
          <div>
            <b>CÔNG TY TNHH CJ MOI VIỆT NAM</b>
          </div>
          Giấy Chứng nhận đăng ký doanh nghiệp: 1234567890 đăng ký lần
          đầu ngày 1/4/2008, được cấp bởi Sở Kế hoạch và Đầu tư Thành
          phố Hồ Chí Minh <br>
          Địa chỉ: Lầu 2, số 7/28, Đường Thành Thái, Phường 15, Quận 8,
          Thành phố Hồ Chí Minh, Việt Nam <br>
          Đường dây nóng (Hotline): 1800 1001 <br>
          COPYRIGHT 2017 CJ MOI VIETNAM CO., LTD. ALL RIGHTS RESERVED
        </div>

      </div>
    </div>
  </div>
</div>

<footer></footer>