<app-header></app-header>
<div class="content-wrapper">
  <h4 class="title text-center fw-bold my-3">
    Khuyến mãi hot
  </h4>
  <form action="" class="d-flex gap-1 mb-2 p-2">
    <div class="custom-select-wrapper">
      <select id="sort" class="form-select" (change)="onSortChange($event)">
        <option value="newest">Mới nhất</option>
        <option value="mostViewed">Xem nhiều nhất</option>
        <option value="bestRated">Đánh giá tốt nhất</option>
      </select>
    </div>
    <div class="input-group w-auto">
      <input (input)="filterResults()" type="text" size="50"
        [(ngModel)]="searching" name="searching" class="input form-control"
        placeholder="Tìm sản phẩm" style="max-width: 16em;">
      <button type="submit" value="Tìm" class="btn btn-light border">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>

  <div class="card border-0">
    <div *ngFor="let news of getNewsList()" class="card-body d-flex">
      <div class="col-4 d-flex align-items-center">
        <a href="" [routerLink]="['/news-detail',news.ID]">
          <img [src]="news.imgURL" alt="">
        </a>
      </div>
      <div class="news m-2">
        <h5 class="card-title">
          <a href="" [routerLink]="['/news-detail',news.ID]">
            {{news.title}}
          </a>
        </h5>
        <p class="card-text news-content d-sm-none d-md-block">
          {{news.content}}
        </p>
        <!-- Like & Dislike -->
        <app-like-dislike></app-like-dislike>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav aria-label="">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link"
          (click)="goToPage(currentPage - 1); $event.preventDefault()"
          aria-label="Previous">&laquo;</a>
      </li>
      <li class="page-item"
        *ngFor="let page of [].constructor(getTotalPages()); let i = index"
        [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="goToPage(i + 1); $event.preventDefault()">
          {{ i + 1 }}
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
        <a class="page-link"
          (click)="goToPage(currentPage + 1); $event.preventDefault()"
          aria-label="Next">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>