<div class="d-flex align-items-center justify-content-between">
  <div>
    Số thành viên:
    {{userList.length}}
    |
    Tài khoản quản trị:
    <i class="bi bi-database-gear"></i>
    {{ getAdminUserQuantity() }}
    |
    Số tài khoản khóa:
    <i class="bi bi-lock"></i>
    {{ getLockUserQuantity() }}
  </div>
  <div>
    <button (click)="openUpdate(getLoggedInUsername())"
      class="btn btn-warning me-1" data-bs-toggle="modal"
      data-bs-target="#newUser">
      <i class="bi bi-person-fill"></i>
      Sửa
    </button>
    <button (click)="openAdd()" class="btn btn-success" data-bs-toggle="modal"
      data-bs-target="#newUser">
      <i class="bi bi-person-plus-fill"></i>
      Thêm
    </button>
  </div>
</div>
<form action="" class="d-flex gap-1 flex-wrap mb-1">
  <div class="custom-select-wrapper">
    <select [(ngModel)]="filterSelect" name="sort" id="filterUser" class="form-select">
      <option value="">Lọc</option>
      <option value="lock">Bị khóa</option>
      <option value="admin">Quản trị</option>
    </select>
  </div>
  <div>
    <input [(ngModel)]="filterSearch" type="text" name="search" id="searchUser"
      class="form-control" placeholder="Tìm kiếm">
  </div>
</form>
<table class="mb-2">
  <tbody>
    <tr>
      <th>Tên đăng nhập</th>
      <th>Mật khẩu</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Quản lí</th>
    </tr>
    <tr *ngFor="let user of getPageUserList()">
      <td class="d-flex gap-1 justify-content-between">
        <div class="d-inline-block">
          {{ user.username }}
        </div>
        <div>
          <span *ngIf="user.isAdmin"
            class="ms-auto badge rounded-pill bg-danger">
            <i class="bi bi-person-fill-gear"></i>
          </span>
        </div>
      </td>
      <td>{{user.password}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td class="d-flex gap-1">
        <button (click)="deleteUser(user.username)" class="btn btn-danger">
          Xóa
        </button>
        <button *ngIf="!user.lock" (click)="lockUser(user.username)"
          class="btn btn-dark">
          Khóa
        </button>
        <button *ngIf="user.lock" (click)="unlockUser(user.username)"
          class="btn btn-light bg-secondary-subtle position-relative">
          <span class="position-absolute start-50 translate-middle-x">
            Mở
          </span>
          <span class="opacity-0">
            Khóa
          </span>
        </button>
        <button (click)="openUpdate(user.username)" class="btn btn-warning"
          data-bs-toggle="modal" data-bs-target="#newUser">
          Sửa
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center">

  <div>
    <div class="d-inline-flex gap-1 align-items-center">
      Phần tử mỗi trang
      <input [(ngModel)]="pgntInfo.itemsPerPage" id="userPerPage" type="number" min="0"
        class="form-control" style="width: 5em;">
    </div>
    <br>
    <div class="d-inline-flex">
      <button (click)="skipToStart()"
        class="btn btn-light bg-transparent border-0">
        <i class="bi bi-skip-start-fill"></i>
      </button>
      <button (click)="doubleBack()"
        class="btn btn-light bg-transparent border-0">
        <i class="bi bi-chevron-double-left"></i>
      </button>
      <button (click)="back()" class="btn btn-light bg-transparent border-0">
        <i class="bi bi-chevron-left"></i>
      </button>

      <div class="d-flex gap-1 align-items-center">
        <input [(ngModel)]="pgntInfo.currentPage" id="currentUserPage" type="number" min="0"
          class="form-control" style="width: 5em;">
        /{{ getPageQuantity() }}
      </div>


      <button (click)="next()" class="btn btn-light bg-transparent border-0">
        <i class="bi bi-chevron-right"></i>
      </button>
      <button (click)="doubleNext()"
        class="btn btn-light bg-transparent border-0">
        <i class="bi bi-chevron-double-right"></i>
      </button>
      <button (click)="skipToEnd()"
        class="btn btn-light bg-transparent border-0">
        <i class="bi bi-skip-end-fill"></i>
      </button>

    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="newUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold flex-fill text-center"
          id="exampleModalLabel">
          Tài khoản
        </h1>
      </div>
      <form [formGroup]="userForm" class="modal-body">
        <div [ngClass]="getInputWrapperClass(userForm.controls.name)"
          class="form-floating form-wrapper mb-3">
          <input formControlName="name" type="text" class="form-control"
            id="name" placeholder="" autocomplete="on">
          <label for="name">
            <span class="form-message default">
              Tên người dùng
            </span>
            <span class="form-message valid">
              Tên người dùng
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message invalid">
              Tên không được để trống
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div [ngClass]="getUsernameWrapperClass(userForm.controls.username)"
          class="form-floating form-wrapper mb-3">
          <input formControlName="username" type="text" class="form-control"
            id="username" placeholder="" autocomplete="username">
          <label for="username">
            <span class="form-message message-0">
              Tên đăng nhập
            </span>
            <span class="form-message message-1">
              Tên đăng nhập
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message message-2">
              Tên đăng nhập phải có từ 6 kí tự
              <i class="bi bi-exclamation-circle"></i>
            </span>
            <span class="form-message message-3">
              Tên đăng nhập đã được sử dụng
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div [ngClass]="getEmailWrapperClass(userForm.controls.email)"
          class="form-floating form-wrapper mb-3">
          <input formControlName="email" type="email" class="form-control"
            id="email" placeholder="" autocomplete="email">
          <label for="email">
            <span class="form-message message-0">
              Địa chỉ email
            </span>
            <span class="form-message message-1">
              Địa chỉ email
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message message-2">
              Email phải có định dạng ten&commat;vidu
              <i class="bi bi-exclamation-circle"></i>
            </span>
            <span class="form-message message-3">
              Email đã được sử dụng
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div [ngClass]="getInputWrapperClass(userForm.controls.phone)"
          class="form-floating form-wrapper mb-3">
          <input formControlName="phone" type="text" class="form-control"
            id="tel" placeholder="" autocomplete="tel">
          <label for="tel">
            <span class="form-message default">
              Số điện thoại
            </span>
            <span class="form-message valid">
              Số điện thoại
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message invalid">
              Số điện thoại phải có 10 chữ số
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div [ngClass]="getPasswordWrapperClass(userForm.controls.password)"
          class="form-floating form-wrapper mb-3">
          <input
            (input)="this.userForm.controls.confirmPassword.updateValueAndValidity()"
            formControlName="password" type="password" class="form-control"
            id="password" placeholder="" autocomplete="new-password">
          <label for="password">
            <span class="form-message message-0">
              Mật khẩu
            </span>
            <span class="form-message message-1">
              Mật khẩu
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message message-2">
              Mật khẩu phải có từ 8 kí tự
              <i class="bi bi-exclamation-circle"></i>
            </span>
            <span class="form-message message-3">
              Mật khẩu phải có chữ
              <i class="bi bi-exclamation-circle"></i>
            </span>
            <span class="form-message message-4">
              Mật khẩu phải có số
              <i class="bi bi-exclamation-circle"></i>
            </span>
            <span class="form-message message-5">
              Mật khẩu phải có kí tự đặc biệt
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div [ngClass]="getInputWrapperClass(userForm.controls.confirmPassword)"
          class="form-floating form-wrapper mb-3">
          <input formControlName="confirmPassword" type="password"
            class="form-control" id="confirmPassword" placeholder=""
            autocomplete="new-password">
          <label for="confirmPassword">
            <span class="form-message default">
              Nhập lại
            </span>
            <span class="form-message valid">
              Nhập lại
              <i class="bi bi-check"></i>
            </span>
            <span class="form-message invalid">
              Mật khẩu không trùng khớp
              <i class="bi bi-exclamation-circle"></i>
            </span>
          </label>
        </div>

        <div class="d-flex gap-2 mb-3">
          <label for="isAdmin">
            Quản trị
          </label>
          <input formControlName="isAdmin" type="checkbox" id="isAdmin"
            class="form-check-input">
        </div>

        <button *ngIf="request == 'add'" (click)="add()"
          class="mb-31 d-block w-100 btn btn-warning text-white"
          data-bs-dismiss="modal1">
          Thêm
        </button>
        <button *ngIf="request == 'update'" (click)="update()"
          class="mb-31 d-block w-100 btn btn-warning text-white"
          data-bs-dismiss="modal1">
          Sửa
        </button>
      </form>
    </div>
  </div>
</div>