td,
th {
  padding: 4px 8px;
}

.item {
  border: 1px solid #ccc;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.item .infor-item {
  display: none;
  margin-top: 10px;
}

.infor-item p {
  font-weight: bold;
}

.infor-item span {
  font-weight: normal;
}

.item:hover .infor-item {
  display: block;
}

.position-absolute {
  top: 8px;
  right: 200px;
}
