/* You can add global styles to this file, and also import other style files */
/* @import url(swiper.css); */
:root {
  --max: 900px;
  --cloud: #eee;
  --smoke: #ddd;
  --bone: #ccc;
  --gray: #aaa;
  --dark: #212529;
  --blue: #1180ff;
  --lightblue: #89c0ff;
  --red: #dc3545;
  --lightred: #dc354540;
  --green: #198754;
  --lightgreen: #19875440;
  --priority1: #ff9c9c;
  --priority2: #89c0ff;
  --priority3: #85ef96;
  --khaki: #fdfcf0;
  --beige: #fbf5d0;
  --yellow: #fbff28;
  --neonyellow: #ffecb1;
  --gold: #ffc006;
}

* {
  transition: all 0.4s;
}

svg {
  height: 1em;
  vertical-align: -0.125em;
  pointer-events: none;
}

svg path {
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scrollbar-color: var(--neonyellow) white;
}

body {
  transition: none;
  background-color: var(--khaki);
}

.content-wrapper {
  max-width: var(--max);
  margin: auto;
}

.nav-link:focus-visible {
  box-shadow: var(--neonyellow) 0px 0px 0px 0.25rem;
  outline: 0px;
}

.btn-close:focus {
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem var(--neonyellow);
}

.pagination {
  --bs-pagination-color: var(--gold);
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: var(--gold);
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--gold);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--neonyellow);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--gold);
  --bs-pagination-active-border-color: var(--gold);
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
}
